/* COLORS */

:root {
    /* Solid colors */
    --color1: #023733;
    --color2: #047e75;
    --color3: #5bb1ab;
    --color4: #8bd9d4;
    --color5: #b3e4e0;
    --color6: #f2f9f9;
}

/* FONTS */

*,
a {
    font-family: 'Libre Franklin', sans-serif;
}

h1,
h2,
.navbar__logo span {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 100;
}

/* GLOBAL RULES & CLASSES */

* {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color6);
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration-line: none;
    color: black;
}

li {
    list-style: none;
}

/* Navbar and Footer */

.nav {
    position: fixed;
    width: 100%;
    background-color: var(--color2);
    height: 80px;
    z-index: 1;
    transition: 0.5s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    border-bottom: 1px solid var(--color6);
}

.navbar__logo {
    color: var(--color6);
    font-size: 2rem;
}

.navbar__toggle {
    color: var(--color6);
    font-size: 2rem;
}

.nav__mobile {
    display: none;
    height: 100vh;
    padding: 10px 25px;
    background-color: var(--color2);
    z-index: 1;
}

.nav__mobile li {
    margin: 20px 0;
    padding: 5px 15px;
    font-size: 1.5rem;
    color: var(--color6);
    box-shadow: inset 4px 0px 0px -2px #ffffff61;
}