{% extends "base.html" %}

{% block content %}

<!-- Error message depends on response from server -->
<section class="container container--light container--center  
  container--extended">
    {% if response == "dog error" %}
      <p class="alert-info">This dog is deleted from the database. It might be that dog was rehomed by someone else, or owner changed his mind about giving up on his dog. We are sorry for this but there are plenty of other dogs who need a new home. Check it out!</p>
      <a class="btn" href="{{url_for('dog_main')}}"
        aria-label="link to dog main page">Back to dogs</a>
    {% elif response == "post error" %}
      <p class="alert-info alert-center">Post not found!</p>
      <a class="btn" href="{{url_for('post_main')}}"
        aria-label="link to post main page">Back to posts</a>
    {% elif response == "message error" %}
      <p class="alert-info alert-center">Message not found!</p>
      <a class="btn" href="{{url_for('inbox')}}"
        aria-label="link to inbox">Back to inbox</a>
    {% elif response == "message sent" %}
      <p class="alert-info alert-center">Message sent!</p>
        {% if session.user %}
          <a class="btn" href="{{url_for('inbox')}}"
            aria-label="link to inbox">Go to inbox</a>
        {% else %}
          <a class="btn" href="{{url_for('index')}}"
            aria-label="link to inbox">Back to index</a>
        {% endif %}
    {% elif response == "page error" %}
      <p class="alert-info alert-center">Something went wrong!</p>
      <a class="btn" href="{{url_for('index')}}"
        aria-label="link to index page">Back to index.</a>
    {% endif %}
</section>

{% endblock %}

