<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Libre+Franklin:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<!-- CSS ANIMATE -->
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <title>woof(dot)com</title>
</head>

<body>
  <!-- Navbar for mobile & tablet -->
  <nav class="nav">
    <div class="navbar">
      <a class="navbar__logo" href="{{ url_for('index') }}">
        <i class="fas fa-paw"></i>
        <span>woof(dot)com</span>
      </a>
      <span class="navbar__toggle"><i class="fas fa-bars"></i></span>
    </div>
    <ul class="nav__mobile">
      {% if not session.user %}
        <li>
          <a href="{{url_for('user_register')}}">Register</a>
        </li>
        <li>
          <a href="{{url_for('user_login')}}">Login</a>
        </li>
        <li>
          <a href="{{url_for('dog_surrender')}}">Give up a dog</a>
        </li>
        <li>
          <a href="{{url_for('contact')}}">Contact us</a>
        </li>
      {% else %}
        <li>
          <a href="{{url_for('dog_main')}}">Adopt a dog</a>
        </li>
        <li>
          <a href="{{url_for('dog_surrender')}}">Give up a dog</a>
        </li>
        <li>
          <a href="{{url_for('post_new')}}">Post new article</a>
        </li>
        <li>
          <a href="{{url_for('user_profile')}}">View profile</a>
        </li>
        {% if session.user == "Admin" %}
          {% if msgs_reqs == 0 %}
            <li>
              <a href="{{url_for('inbox')}}">Inbox ({{ msgs_reqs }})</a>
            </li>
          {% else %}
            <li>
              <a href="{{url_for('inbox')}}"><strong>Inbox ({{ msgs_reqs }})</strong></a>
            </li>
          {% endif %}
        {% else %}
          {% if msgs == 0 %}
            <li>
              <a href="{{url_for('inbox')}}">Inbox ({{ msgs }})</a>
            </li>
          {% else %}
            <li>
              <a href="{{url_for('inbox')}}"><strong>Inbox ({{ msgs }})</strong></a>
            </li>
          {% endif %}
        {% endif %}
          <li>
            <a href="{{url_for('user_logout')}}">Logout</a>
          </li>
        {% if session.user != "Admin" %}
          <li>
            <a href="{{url_for('contact')}}">Contact us</a>
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </nav>

  <div class="desktop-content">
    <nav class="desk-nav">
      <a class="navbar__logo" href="{{ url_for('index') }}">
        <i class="fas fa-paw"></i>
        <span>woof(dot)com</span>
      </a>
      <div class="nav__container">
        {% if not session.user %}
          <a class="nav__btn nav__btn--login" href="{{url_for('user_login')}}">Login</a>
          <a class="nav__btn nav__btn--register" href="{{url_for('user_register')}}">Sign up</a>
        {% else %}
        <div class="nav__dropdown">
          <a class="nav__link" href="{{url_for('user_profile')}}">Account settings</a>
          <a class="nav__link" href="{{url_for('user_logout')}}">Logout</a>
        </div>
        <span class="nav__username" tabindex="0">{{session.user}}</span>
        <a class="nav__icon" href="{{url_for('inbox')}}">
          {% if session.user == "Admin" %}
            {% if msgs_reqs == 0 %}
              <i class="far fa-envelope-open"></i>
              <div class="message-count">{{ msgs_reqs }}</div>
            {% else %}
              <i class="far fa-envelope"></i>
              <div class="message-count">{{ msgs_reqs }}</div>
            {% endif %}
          {% else %}
            {% if msgs == 0 %}
              <i class="far fa-envelope-open"></i>
              <div class="message-count">{{ msgs }}</div>
            {% else %}
              <i class="far fa-envelope"></i>
              <div class="message-count">{{ msgs }}</div>
            {% endif %}
          {% endif %}
        </a>
        {% endif %}
      </div>
    </nav>
  </div>

  <div class="main-container">
  {% block content %}
  
  {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="footer">
    <p class="footer__title">Find us on social media</p>
    <ul class="footer__links">
      <li>
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.snapchat.com/" target="_blank">
          <i class="fab fa-snapchat"></i>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/" target="_blank">
          <i class="fab fa-youtube-square"></i>
        </a>
      </li>
    </ul>
    <p class="footer__copyright">©2021, Made by Sandro Bencinic</p>
  </footer>

  <div class="popup__container">
    <div class="popup">
      <p class="popup__text">TEXT</p>
      <div class="popup__btn-container">
        <button class="btn btn--popup" tabindex="1">Cancel</button>
        {% block popup %}
        {% endblock %}
      </div>
    </div>
  </div>

  <!-- CODE CREDIT: https://stackoverflow.com/a/51274004 -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash__container" style="display: flex;">
        <div class="flash">
          {% for category, message in messages%}
            <div class="flash__text">{{ message }}</div><br>
            <div class="flash__btn-container">
              {% if category == "error" %}
                <div class="btn btn--flash" id="flash-back" tabindex="1">Go back</div>
              {% elif category == "index" %}
                <a class="btn btn--flash" href="/" tabindex="1">Back to home page</a>
              {% else %}
                <div class="btn btn--flash" id="flash-continue" tabindex="1">Continue</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endwith %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



  <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/static/js/script.js"></script>

  <!-- Disables scroll when flash message appears -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      <script>disableScroll()</script>
  {% endif %}
  {% endwith %}

</body>

</html>