<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Libre+Franklin:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <title>woof(dot)com</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="nav">
    <div class="navbar">
      <a class="navbar__logo" href="{{ url_for('index') }}">
        <i class="fas fa-paw"></i>
        <span>woof(dot)com</span>
      </a>
      <span class="navbar__toggle"><i class="fas fa-bars"></i></span>
    </div>
    <ul class="nav__mobile">
      {% if not session.user %}
        <a href=/user_register>
          <li>Register</li>
        </a>
        <a href=/user_login>
          <li>Login</li>
        </a>
        <a href=/dog_surrender>
          <li>Give up a dog</li>
        </a>
        <a href=/contact>
          <li>Contact us</li>
        </a>
      {% else %}
        <a href=/dog_main>
          <li>Adopt a dog</li>
        </a>
        <a href=/dog_surrender>
          <li>Give up a dog</li>
        </a>
        <a href=/post_new>
          <li>Post new article</li>
        </a>
        <a href=/user_profile>
          <li>View profile</li>
        </a>
        <a href=/inbox>
          <li>Inbox</li>
        </a>
        <a href=/user_logout>
          <li>Logout</li>
        </a>
        {% if session.user != "Admin" %}
          <a href=/contact>
            <li>Contact us</li>
          </a>
        {% endif %}
      {% endif %}
    </ul>
  </nav>

  <div class="main-container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash">
          {% for message in messages %}
            <li>{{ message }}</li><br> 
          {% endfor %}
          <p id="flash-close">
            <span>Close </span>
            <i class="fas fa-times"></i>
          </p>
        </ul>
      {% endif %}
    {% endwith %}

  {% block content %}
  {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="footer">
    <p class="footer__title">Find us on social media</p>
    <ul class="footer__links">
      <a href=#>
        <li><i class="fab fa-facebook-square"></i></li>
      </a>
      <a href=#>
        <li><i class="fab fa-instagram"></i></li>
      </a>
      <a href=#>
        <li><i class="fab fa-twitter"></i></li>
      </a>
      <a href=#>
        <li><i class="fab fa-snapchat"></i></li>
      </a>
      <a href=#>
        <li><i class="fab fa-youtube-square"></i></li>
      </a>
    </ul>
    <p class="footer__copyright">©2021, Made by Sandro Bencinic</p>
</footer>

<div class="popup__container">
  <div class="popup">
      <p class="popup__text">TEXT</p>
      <div class="popup__btn-container">
          <button class="btn btn--popup" id="">Cancel</button>
          {% block popup %}
          {% endblock %}
      </div>
  </div>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/static/js/script.js"></script>

</body>

</html>