{% extends "base.html" %}
{% block content %}
<!-- Banner -->
<section class="banner">
  <img class="banner__img" src="/static/images/banner_dog_main.webp" alt="">
  <div class="title-section">
    <h1 class="title-section__title">Posts collection</h1>
    <p class="title-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum ex nec ultrices porta.</p>
  </div>
</section>
<!-- Dogs container -->
<section class="container container--light">
  <p class="filter-toggle js-filter-toggle"><i class="fas fa-cogs"></i>Filter dogs</p>
  {% if no_dogs == True %}
    <p class="filter-caption">Couldn't find any dogs with given criteria!</p>
  {% else %}
    <p class="filter-caption">Showing {{ cur_len }} out of {{ tot_len }} total dogs</p>
  {% endif %}

  <form class="form form-toggle form--dogs-tablet js-form-toggle"
    action="{{ url_for('dog_main') }}" method="POST">
    <input class="form__input" name="name" placeholder="Search by dog's name">

    <select class="form__input" name="age" id="age">
      <option value="" selected disabled hidden>Select age</option>
      <option value="0-3">0-3 years</option>
      <option value="4-7">4-7 years</option>
      <option value="8+">8+ years</option>
    </select>

    <select class="form__input" name="gender" id="gender">
      <option value="" selected disabled hidden>Select gender</option>
      <option>Male</option>
      <option>Female</option>
    </select>

    <select class="form__input" name="size" id="size">
      <option value="" selected disabled hidden>Select size</option>
      <option>Small</option>
      <option>Medium</option>
      <option>Large</option>
    </select>

    <div class="checkbox">
      <p class="checkbox__title">Other options</p>
      <ul>
        <li>
          <input type="checkbox" name="good_with" id="good_with" value="kids">
          <label for="good_with">Good with kids</label>
        </li>
        <li>
          <input type="checkbox" name="good_with" id="good_with" value="family">
          <label for="good_with">Suitable for families</label>
        </li>
        <li>
          <input type="checkbox" name="good_with" id="good_with" value="pets">
          <label for="good_with">Good with other pets</label>
        </li>
        <li>
          <input type="checkbox" name="good_with" id="good_with" value="single">
          <label for="good_with">Prefers only one owner</label>
        </li>
      </ul>
    </div>

    <button class="btn btn--invert btn--center btn--filter-reset"
      type="reset">Reset</button>
    <button class="btn btn--center btn--filter" type="submit">SEARCH</button>
  </form>

  {% if no_dogs == False %}
  <div class="mobile-container">
    {% for dog in dogs %}
      <div class="card">
        <a href="{{ url_for('dog_page', dog_id=dog._id) }}">
          <div class="card__img img--rounded js-img-mobile" style="background-image: url({{dog.img_path}});" alt=""></div>
          <h3 class="card__title">{{ dog.name.capitalize() }}</h3>
        </a>
        <p class="card__info">
          {% if dog.age == "0" %}
            <span>Less than year | {{ dog.gender }}</span>
          {% else %}
            <span>{{ dog.age }} yr | {{ dog.gender }}</span>
          {% endif %}
        </p>
        <p class="card__summary">"{{ dog.greeting }}"</p>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</section>
{% endblock %}