{% extends "base.html" %}
{% block content %}
<!-- Banner -->
<section class="banner">
  <img class="banner__img desktop-content" src="/static/images/banner_dog_main_l.webp" alt="">
  <img class="banner__img mobile-content tablet-content" src="/static/images/banner_dog_main_s.webp" alt="">
  <div class="title-section">
    <h1 class="title-section__title">Rehome a dog</h1>
    <p class="title-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum ex nec ultrices porta.</p>
  </div>
</section>

<div class="desktop-content">
  <ul class="page-links">
    <a class="page-link" href="{{url_for('dog_main')}}">
      <li>Adopt a dog</li>
    </a>
    <a class="page-link" href="{{url_for('dog_surrender')}}">
      <li>Give up a dog</li>
    </a>
    {% if session.user %}
      <a class="page-link" href="{{url_for('post_new')}}">
        <li>Post new article</li>
      </a>
    {% endif %}
    {% if session.user != "Admin"%}
    <a class="page-link" href="{{url_for('contact')}}">
      <li>Contact us</li>
    </a>
    {% endif %}
  </ul>
</div>

<!-- Dogs container -->
<section class="container container--light">
  <p class="filter-toggle js-filter-toggle mobile-content tablet-content"><i class="fas fa-cogs"></i>Filter dogs</p>
  {% if no_dogs == True %}
    <p class="filter-caption">Couldn't find any dogs with given criteria!</p>
  {% else %}
    <p class="filter-caption">Showing {{ cur_len }} out of {{ tot_len }} total dogs</p>
  {% endif %}

  <div class="dogmain-desk-wrapper">
    <div class="desktop-content content-dogmain">
      {% if no_dogs == True%}
        <p class="no-posts">Ooops, seems like there are no dog ads yet!</p>
      {% else %}
        <div class="card card-desktop">
          <a href="{{ url_for('dog_page', dog_id=dog_top._id) }}">
            <div class="card__img img--rounded js-img-desk"
              style="background-image: url({{dog_top.img_path}});" alt="">
            <div class="img-overlay"></div>`
              <div class="card__text-container">
                <h3 class="card__title card__title--index">{{ dog_top.name.capitalize() }}</h3>
                <p class="card__summary card__summary--index">{{ dog_top.greeting}}</p>
              </div>
            </div>
          </a>
        </div>
      {% endif %}
    </div>

    <form class="form form-toggle js-form-toggle"
    action="{{ url_for('dog_main') }}" method="POST">
      <input class="form__input form__input--filter" name="name" placeholder="Search by dog's name">

      <select class="form__input form__input--filter" name="age" id="age">
        <option value="" selected disabled hidden>Select age</option>
        <option value="0-3">0-3 years</option>
        <option value="4-7">4-7 years</option>
        <option value="8+">8+ years</option>
      </select>

      <select class="form__input form__input--filter" name="gender" id="gender">
        <option value="" selected disabled hidden>Select gender</option>
        <option>Male</option>
        <option>Female</option>
      </select>

      <select class="form__input form__input--filter" name="size" id="size">
        <option value="" selected disabled hidden>Select size</option>
        <option>Small</option>
        <option>Medium</option>
        <option>Large</option>
      </select>

      <div class="checkbox checkbox--filter">
        <p class="checkbox__title">Other options</p>
        <ul>
          <li>
            <input type="checkbox" name="good_with" id="good_with" value="kids">
            <label for="good_with">Good with kids</label>
          </li>
          <li>
            <input type="checkbox" name="good_with" id="good_with" value="family">
            <label for="good_with">Suitable for families</label>
          </li>
          <li>
            <input type="checkbox" name="good_with" id="good_with" value="pets">
            <label for="good_with">Good with other pets</label>
          </li>
          <li>
            <input type="checkbox" name="good_with" id="good_with" value="single">
            <label for="good_with">Prefers only one owner</label>
          </li>
        </ul>
      </div>

      <button class="btn btn--invert btn--center btn--filter-reset btn--dogmain"
        type="reset">Reset</button>
      <button class="btn btn--center btn--filter btn--dogmain" type="submit">SEARCH</button>
    </form>
  </div>

  <div class="desktop-content js-card-desktop">
    {% for dog in dogs %}
      <div class="card card-desktop">
        <div class="wrapper__row">
          <a class="card__img-link" href="{{ url_for('dog_page', dog_id=dog._id) }}">
            <div class="card__img img--rounded js-img-desk-m" style="background-image: url({{dog.img_path}});" alt="">
            </div>
          </a>
          <div class="wrapper__column card__info-wrapper">
            <a class="card__img-link" href="{{ url_for('dog_page', dog_id=dog._id) }}" tabindex="-1">
              <h3 class="card__title card__title--dogmain">{{ dog.name.capitalize() }}</h3>
            </a>
            <p class="card__info card__info--dogmain">
              {% if dog.age == "0" %}
                <span>Less than year | {{ dog.gender }}</span>
              {% else %}
                <span>{{ dog.age }} yr | {{ dog.gender }}</span>
              {% endif %}
            </p>
            <p class="card__summary card__summary--dogmain">"{{ dog.greeting }}"</p>
          </div>
        </div>
      </div>
      <hr>
    {% endfor %}
  </div>

  {% if no_dogs == False %}
  <div class="mobile-content js-card-mobile">
    <div class="card card-mobile">
      <a href="{{ url_for('dog_page', dog_id=dog_top._id) }}">
          <div class="card__img img--rounded js-img-mobile" style="background-image: url({{dog_top.img_path}});" alt=""></div>
          <h3 class="card__title">{{ dog_top.name.capitalize() }}</h3>
      </a>
      <p class="card__info">
          {% if dog_top.age == "0" %}
              <span>Less than year | {{ dog_top.gender }}</span>
          {% else %}
              <span>{{ dog_top.age }} yr | {{ dog_top.gender }}</span>
          {% endif %}
      </p>
      <p class="card__summary">"{{ dog_top.greeting }}"</p>
      <hr class="hr hr--card">
    </div>
    {% for dog in dogs %}
      <div class="card card-mobile">
        <a href="{{ url_for('dog_page', dog_id=dog._id) }}">
          <div class="card__img img--rounded js-img-mobile" style="background-image: url({{dog.img_path}});" alt=""></div>
          <h3 class="card__title">{{ dog.name.capitalize() }}</h3>
        </a>
        <p class="card__info">
          {% if dog.age == "0" %}
            <span>Less than year | {{ dog.gender }}</span>
          {% else %}
            <span>{{ dog.age }} yr | {{ dog.gender }}</span>
          {% endif %}
        </p>
        <p class="card__summary">"{{ dog.greeting }}"</p>
        <hr class="hr hr--card">
      </div>
    {% endfor %}
  </div>
  <div class="tablet-content js-card-tablet">
    <div class="card card-tablet">
      <a href="{{ url_for('dog_page', dog_id=dog_top._id) }}">
        <div class="card__img img--rounded js-img-tablet-l" style="background-image: url({{dog_top.img_path}});" alt="">
        </div>
        <h3 class="card__title">{{ dog_top.name.capitalize() }}</h3>
      </a>
      <p class="card__info">
        {% if dog_top.age == "0" %}
          <span>Less than year | {{ dog_top.gender }}</span>
        {% else %}
          <span>{{ dog_top.age }} yr | {{ dog_top.gender }}</span>
        {% endif %}
      </p>
      <p class="card__summary">"{{ dog_top.greeting }}"</p>
      <hr class="hr hr--card">
    </div>
    {% for dog in dogs %}
      <div class="card card-tablet">
        <div class="wrapper__row">
          <a class="card__img-link" href="{{ url_for('dog_page', dog_id=dog._id) }}">
            <div class="card__img img--rounded js-img-tablet-m" style="background-image: url({{dog.img_path}});" alt="">
            </div>
          </a>
          <div class="wrapper__column card__info-wrapper">
            <a class="card__img-link" href="{{ url_for('dog_page', dog_id=dog._id) }}">
              <h3 class="card__title">{{ dog.name.capitalize() }}</h3>
            </a>
            <p class="card__info">
              {% if dog.age == "0" %}
                <span>Less than year | {{ dog.gender }}</span>
              {% else %}
                <span>{{ dog.age }} yr | {{ dog.gender }}</span>
              {% endif %}
            </p>
            <p class="card__summary">"{{ dog.greeting }}"</p>
          </div>
        </div>
      </div>
      <hr>
    {% endfor %}
  </div>
  {% endif %}
</section>
{% if not session.user %}
<!-- Registration card -->
<section class="container container--light container--regcard">
  <div class="reg-card wrapper__row">
    <div class="reg-card--left wrapper__column">
      <h2 class="container__title">Why register?</h2>
      <p class="reg-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus eget enim sit amet tristique. Duis sit amet sagittis risus. Integer scelerisque dolor sed tortor finibus, in tincidunt augue rutrum. Mauris mauris elit, maximus vel tristique ac, fermentum ac odio. Fusce vitae nisi ligula.</p>
    </div>
    <div class="reg-card--right wrapper__column">
      <ul class="reg-card__list">
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Unlimited access to all blogs</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Write your own posts</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Unlimited access to dog database</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Place ads for dog rehoming</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Send requests for dog adoption</span>
        </li>
      </ul>
      <a class="btn btn--regcard btn--transparent" href="{{ url_for('user_register') }}">Register for free</a>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}