{% extends "base.html" %}
{% block content %}
<section class="container container--light container--extended">
  <div class="dog">
    <h3 class="dog__name">{{ dog.name.capitalize() }}</h3>
    <p class="dog__greeting">"{{ dog.greeting}}"</p>
    <img class="dog__img" style="background-image: url(/static/images/dog_default.webp);" alt="">
    <div class="dog__info">
      {% if dog.age == "0" %}
        <p><span>Age: </span>Less than a year</p>
      {% else %}
        <p><span>Age: </span>{{ dog.age }}</p>
      {% endif %}
      <p><span>Size: </span>{{ dog.size }}</p>
      <p><span>Gender: </span>{{ dog.gender }}</p><br>
      {% if session.user == "Admin" %}
        <fieldset class="fieldset">
          <legend>Owner Info</legend>
          <p><span>Full name: </span>{{ owner.fname }} {{ owner.lname }}</p>
          <p><span>Contact number: </span>{{ owner.phone }}</p>
          <p><span>Email: </span>{{ owner.email }}</p>
        </fieldset>
      {% endif %}
    </div>
    <hr class="hr hr--dark hr--dog">
    {% if session.user == owner.username or session.user == "Admin" %}
      <div class="control-buttons">
        <i id="dog-edit" class="far fa-edit popup-main-btn"></i>
        <i id="dog-delete" class="far fa-trash-alt popup-main-btn"></i>
    </div>
    {% endif %}
    <p class="dog__description">{{ dog.description }}</p>
  </div>
  {% if user_info == True %} 
    {% if session.user != "Admin" and session.user != owner.username %}
      {% if adoption_request == False %}
        <a class="btn btn--dog" href="{{url_for('adopt', dog_id=dog._id)}}">Apply for adoption</a>
      {% elif adoption_request == True %}
        <a class="btn btn--dog" href="{{url_for('adopt_undo', dog_id=dog._id)}}">Withdraw application</a>
      {% endif %}
    {% endif %}
  {% endif %}
  <div class="btn--bottom js-btn-back">
    <i class="fas fa-angle-double-left"></i>
    <span>Back</span>
  </div>
</section>
{% endblock %}

{% if not session.user %}
<!-- Registration card -->
<section class="container container--dark container--regcard">
  <div class="reg-card wrapper__row">
    <div class="reg-card--left wrapper__column">
      <h2 class="container__title">Why register?</h2>
      <p class="reg-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus eget enim sit amet tristique. Duis sit amet sagittis risus. Integer scelerisque dolor sed tortor finibus, in tincidunt augue rutrum. Mauris mauris elit, maximus vel tristique ac, fermentum ac odio. Fusce vitae nisi ligula.</p>
    </div>
    <div class="reg-card--right reg-card--dark wrapper__column">
      <ul class="reg-card__list">
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Unlimited access to all blogs</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Write your own posts</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Unlimited access to dog database</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Place ads for dog rehoming</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Send requests for dog adoption</span>
        </li>
      </ul>
      <a class="btn btn--invert" href="{{ url_for('user_register') }}">Register for free</a>
    </div>
  </div>
</section>
{% endif %}

{% block popup %}
  <a class="btn btn--popup" id="dog-edit-confirm" href="{{ url_for('dog_edit', dog_id=dog._id) }}"
    style="display: none;">Edit</a>
  <a class="btn btn--popup" id="dog-delete-confirm" href="{{ url_for('dog_delete', dog_id=dog._id) }}"
    style="display: none;">Delete</a>
{% endblock %}
