{% extends "base.html" %}

{% block content %}

<!-- Banner -->
<section class="banner">
  <img class="banner__img desktop-content"
    src="/static/images/banner_dog_new_l.webp"
    alt="banner bichon dog jumping on grass field">
  <img class="banner__img mobile-content tablet-content"
    src="/static/images/banner_dog_new_s.webp"
    alt="banner bichon dog jumping on grass field">
  <div class="title-section">
    <h1 class="title-section__title">Add new dog</h1>
    <p class="title-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum ex nec ultrices porta.</p>
  </div>
</section>

<!-- Link tabs on desktop -->
<div class="desktop-content">
  <ul class="page-links">
    <li>
      <a class="page-link" href="{{url_for('dog_main')}}"
        aria-label="link to dog main page">
        Adopt a dog
      </a>
    </li>
    <li>
      <a class="page-link" href="{{url_for('dog_surrender')}}"
        aria-label="link to dog surrender page">
        Give up a dog
      </a>
    </li>
    {% if session.user %}
      <li>
        <a class="page-link" href="{{url_for('post_new')}}"
          aria-label="link to new post page">
          Post new article
        </a>
      </li>
    {% endif %}
    {% if session.user != "Admin"%}
      <li>
        <a class="page-link" href="{{url_for('contact')}}"
          aria-label="link to contact page">
          Contact us
        </a>
      </li>
    {% endif %}
  </ul>
</div>

<!-- Dog rehoming form -->
<section class="container container--light container--dog">
  <form class="form" action="{{ url_for('dog_new') }}" method="POST"
    enctype="multipart/form-data" onsubmit="setLocalDog()">

    <label class="form__label" for="name">Name</label>
    <input class="form__input" type="text" name="name" id="name" minlength="2"
      maxlength="15" pattern="^[a-zA-Z-]{2,15}}$" required>

    <label class="form__label" for="gender">Gender</label>
    <select class="form__input" name="gender" id="gender" required>
      <option value="" selected disabled hidden>Select gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>

    <label class="form__label" for="age">Age (0 for a puppy)</label>
    <input class="form__input" type="text" id="age" name="age" minlength="1"
      maxlength="2" pattern="^[0-9]{1,2}$" required>

    <label class="form__label" for="size">Size</label>
    <select class="form__input" name="size" id="size" required>
      <option value="" selected disabled hidden>Select size</option>
      <option value="Small">Small</option>
      <option value="Medium">Medium</option>
      <option value="Large">Large</option>
    </select>

    <div class="checkbox">
      <p class="checkbox__title">Other options</p>
      <ul>
        <li>
          <input type="checkbox" name="good_with" id="kids" value="kids">
          <label for="kids">Good with kids</label>
        </li>
        <li>
          <input type="checkbox" name="good_with" id="family" value="family">
          <label for="family">Suitable for families</label>
        </li>
        <li>
          <input type="checkbox" name="good_with" id="pets" value="pets">
          <label for="pets">Good with other pets</label>
        </li>
        <li>
          <input type="checkbox" name="good_with" id="single" value="single">
          <label for="single">Prefers only one owner</label>
        </li>
      </ul>
    </div>

    <label class="form__label" for="greeting">Greeting</label>
    <textarea class="form__textarea textarea--dog-greeting" name="greeting"
      id="greeting" maxlength="150" required></textarea>

    <label class="form__label" for="description">Description</label>
    <textarea class="form__textarea" name="description" id="description"
      maxlength="10000" required></textarea>

    <label class="btn btn--invert btn--post js-btn-photo" for="photo">
      <i class="fas fa-upload"></i>
      <span> Upload photo</span>
      <span class="btn__caption">Recommended size 1024 x 576px</span>
    </label>
    <input class="inputfile" type="file" name="photo" id="photo">
  
    <button class="btn btn--dog">POST</button>
  </form>
</section>

{% endblock %}