{% extends "base.html" %}
{% block content %}
<!-- Banner -->
<section class="banner">
  <img class="banner__img" src="/static/images/banner_dog_main.webp" alt="">
  <div class="title-section">
    <h1 class="title-section__title">Posts collection</h1>
    <p class="title-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum ex nec ultrices porta.</p>
  </div>
</section>
<!-- Dogs container -->
<section class="container container--light">
  {% if no_dogs == False %}
  <div class="mobile-container">
    {% for dog in dogs %}
      <div class="card">
        <a href="{{ url_for('dog_page', dog_id=dog._id) }}">
          <div class="card__img img--rounded js-img-mobile" style="background-image: url({{dog.img_path}});" alt=""></div>
          <h3 class="card__title">{{ dog.name.capitalize() }}</h3>
        </a>
        <p class="card__info">
          {% if dog.age == "0" %}
            <span>Less than year | {{ dog.gender }}</span>
          {% else %}
            <span>{{ dog.age }} yr | {{ dog.gender }}</span>
          {% endif %}
        </p>
        <p class="card__summary">"{{ dog.greeting }}"</p>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</section>
{% endblock %}