{% extends "base.html" %}
{% block content %}
<!-- Banner -->
<section class="banner">
  <img class="banner__img desktop-content" src="/static/images/banner_dog_edit_l.webp" alt="banner cavalier king charles">
  <img class="banner__img mobile-content tablet-content" src="/static/images/banner_dog_edit_s.webp" alt="banner cavalier king charles">
  <div class="title-section">
    <h1 class="title-section__title">Edit dog</h1>
    <p class="title-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum ex nec ultrices porta.</p>
  </div>
</section>

<div class="desktop-content">
  <ul class="page-links">
    <li>
      <a class="page-link" href="{{url_for('dog_main')}}">
        Adopt a dog
      </a>
    </li>
    <li>
      <a class="page-link" href="{{url_for('dog_surrender')}}">
        Give up a dog
      </a>
    </li>
    {% if session.user %}
      <li>
        <a class="page-link" href="{{url_for('post_new')}}">
          Post new article
        </a>
      </li>
    {% endif %}
    {% if session.user != "Admin"%}
      <li>
        <a class="page-link" href="{{url_for('contact')}}">
          Contact us
        </a>
      </li>
    {% endif %}
  </ul>
</div>

<!-- Edit dog details form -->
<section class="container container--light container--dog">
  <form class="form" action="{{url_for('dog_edit', dog_id=dog._id)}}"
    method="POST" enctype="multipart/form-data" onsubmit="setLocalDog()">
    <label class="form__label" for="name">Name</label>
    <input class="form__input" type="text" name="name" id="name" minlength="2"
      maxlength="15" pattern="^[a-zA-Z0-9-]{2,15}}$" value="{{dog.name.capitalize()}}" required>

    <label class="form__label" for="gender">Gender</label>
    <select class="form__input" name="gender" id="gender" required>
      <option {% if dog.gender == "Male" %} selected {% endif %}
        value="Male">Male</option>
      <option {% if dog.gender == "Female" %} selected {% endif %}
        value="Female">Female</option>
    </select>

    <label class="form__label" for="age">Age (0 for a puppy)</label>
    <input class="form__input" type="text" id="age" name="age" minlength="1"
      maxlength="2" pattern="^[0-9]{1,2}$" value="{{ dog.age }}" required>

    <label class="form__label" for="size">Size</label>
    <select class="form__input" name="size" id="size" required>
      <option {% if dog.size == "Small" %} selected {% endif %}
        value="Small">Small</option>
      <option {% if dog.size == "Medium" %} selected {% endif %}
        value="Medium">Medium</option>
      <option {% if dog.size == "Large" %} selected {% endif %}
        value="Large">Large</option>
    </select>

    <div class="checkbox">
      <p class="checkbox__title">Other options</p>
      <ul>
        <li>
          <input {% if "kids" in dog.good_with %} checked {% endif %}
            type="checkbox" name="good_with" id="kids" value="kids">
          <label for="kids">Good with kids</label>
        </li>
        <li>
          <input {% if "family" in dog.good_with %} checked {% endif %}
            type="checkbox" name="good_with" id="family" value="family">
          <label for="family">Suitable for families</label>
        </li>
        <li>
          <input {% if "pets" in dog.good_with %} checked {% endif %}
            type="checkbox" name="good_with" id="pets" value="pets">
          <label for="pets">Good with other pets</label>
        </li>
        <li>
          <input {% if "single" in dog.good_with %} checked {% endif %}
            type="checkbox" name="good_with" id="single" value="single">
          <label for="single">Prefers only one owner</label>
        </li>
      </ul>
    </div>

    <label class="form__label" for="greeting">Greeting</label>
    <textarea class="form__textarea textarea--dog-greeting" name="greeting"
      id="greeting" maxlength="150" required>{{- dog.greeting -}}</textarea>

    <label class="form__label" for="description">Description</label>
    <textarea class="form__textarea" name="description" id="description"
      maxlength="10000" required>{{- dog.description -}}</textarea>

    <label class="btn btn--invert btn--post js-btn-photo" for="photo">
      <i class="fas fa-upload"></i><span> Upload photo</span>
      <span class="btn__caption">Recommended size 1024 x 576px</span>
    </label>
    <input class="inputfile" type="file" name="photo" id="photo">
  
    <button class="btn btn--dog" type="submit">POST</button>
  </form>
  <div class="btn--bottom js-btn-back">
    <i class="fas fa-angle-double-left"></i>
    <span>Back</span>
  </div>
</section>
{% endblock %}