{% extends "base.html" %}
{% block content %}
<section class="container container--light container--extended">
  <div class="dog">
    <h3 class="dog__name">{{ dog.name.capitalize() }}</h3>
    <p class="dog__greeting">"{{ dog.greeting}}"</p>
    <img class="dog__img" style="background-image: url(/static/images/dog_default.webp);" alt="">
    <div class="dog__info">
      {% if dog.age == "0" %}
        <p><span>Age: </span>Less than a year</p>
      {% else %}
        <p><span>Age: </span>{{ dog.age }}</p>
      {% endif %}
      <p><span>Size: </span>{{ dog.size }}</p>
      <p><span>Gender: </span>{{ dog.gender }}</p><br>
    </div>
    <hr class="hr hr--dark hr--dog">
    <p class="dog__description">{{ dog.description }}</p>
  </div>
</section>
{% endblock %}