{% extends "base.html" %}

{% block content %}
<div class="inbox__header">
  {% if session.user == "Admin" %}
    <div class="switch">
      <span class="switch__messages">Messages</span>
      <span> / </span>
      <span class="switch__requests">Requests</span>
    </div>
    
    <h4 class="inbox-title" id="title-messages">Hi Admin,
    
      You have {{admin_unread_msgs}} unread messages!</h4>
    
    <h4 class="inbox-title" id="title-requests">Hi Admin,
    
    You have {{admin_unread_reqs}} new adoption requests!</h4>
  {% else %}
    <h2 class="container__title">Inbox</h2>
    <h4 class="inbox-title" id="title-messages">Hi {{session.user}},
    
      You have {{user_unread_msgs}} unread messages!</h4>
  {% endif %}
  <hr class="hr--inbox">
</div>


<section class="container container--light container--extended container--inbox">
  <!-- Switches between messages / adoption requests -->

  {% if session.user == "Admin" %}
    <!-- Admin message inbox -->
    {% for msg in admin_msgs %}
      <a href="{{url_for('message', msg_id=msg._id)}}">
        <div class="inbox inbox--messages">
          <div class="inbox__container">
            {% if msg.status == "unread" %}
              <span class="inbox__subject">{{msg.subject}}</span>
            {% else %}
              <span class="inbox__subject inbox__subject--read">{{msg.subject}}</span>
            {% endif %}
            <div class="inbox__details">
              <span>Sent on {{ msg.create_date }} at {{ msg.create_time }} by {{ msg.sent_by }}</span>
              {% if msg.replied == True %}
                <span class="mobile-content tablet-content"><i class="far fa-check-circle"></i> Replied</span>
              {% endif %}
            </div>
          </div>
          {% if msg.replied == True %}
            <span class="message__replied desktop-content"><i class="far fa-check-circle"></i> Replied</span>
          {% endif %}
          <p class="inbox__preview desktop-content">{{msg.message}}</p>
        </div>
      </a>
    {% endfor %}

    <!-- Adoption requests inbox -->
    {% for req in admin_reqs %}
    <a href="{{url_for('message', msg_id=req._id)}}">
      <div class="inbox inbox--requests">
        <div class="inbox__container">
          {% if req.status == "unread" %}
            <span class="inbox__subject">{{req.subject}}</span>
          {% else %}
            <span class="inbox__subject inbox__subject--read">{{req.subject}}</span>
          {% endif %}
          <div class="inbox__details">
            <span>Sent on {{ req.create_date }} at {{ req.create_time }} by {{ req.sent_by }}</span>
            {% if req.replied == True %}
              <span class="mobile-content tablet-content"><i class="far fa-check-circle"></i> Replied</span>
            {% endif %}
          </div>
        </div>
        {% if req.replied == True %}
          <span class="message__replied desktop-content"><i class="far fa-check-circle"></i> Replied</span>
        {% endif %}
        <p class="inbox__preview desktop-content">{{req.message}}</p>
      </div>
    </a>
    {% endfor %}
  {% else %}
  <!-- User message inbox -->
  {% for msg in user_msgs %}
    <a href="{{url_for('message', msg_id=msg._id)}}">
      <div class="inbox inbox--messages">
        <div class="inbox__container">
          {% if msg.status == "unread" %}
            <span class="inbox__subject">{{msg.subject}}</span>
          {% else %}
            <span class="inbox__subject inbox__subject--read">{{msg.subject}}</span>
          {% endif %}
          <div class="inbox__details">
            <span>Sent on {{ msg.create_date }} at {{ msg.create_time }} by {{ msg.sent_by }}</span>
            {% if msg.replied == True %}
              <span class="mobile-content tablet-content"><i class="far fa-check-circle"></i> Replied</span>
            {% endif %}
          </div>
        </div>
        {% if msg.replied == True %}
          <span class="message__replied desktop-content"><i class="far fa-check-circle"></i> Replied</span>
        {% endif %}
        <p class="inbox__preview desktop-content">{{msg.message}}</p>
      </div>
    </a>
  {% endfor %}
  {% endif %}
</section>
{% endblock %}