{% extends "base.html" %}

{% block content %}
<section class="container container--light container--extended">

  {% for message in messages %}
  <a href=#>
    <div class="inbox inbox--messages">
      {% if message.status == "unread" %}
        <span class="inbox__subject">{{message.subject}}</span>
      {% else %}
        <span class="inbox__subject inbox__subject--read">{{message.subject}}</span>
      {% endif %}
      <div class="inbox__details">
        <span>Sent on {{ message.create_date }} at {{ message.create_time }} by {{ message.sent_by }}</span>
        {% if message.replied == True %}
          <span><i class="far fa-check-circle"></i> Replied</span>
        {% endif %}
      </div>
    </div>
  </a>
  {% endfor %}

</section>
{% endblock %}