{% extends "base.html" %}
{% block content %}
<!-- Banner -->
<section class="banner">
  <img class="banner__img" src="/static/images/banner_index.webp" alt="">
  <div class="title-section">
    <h1 class="title-section__title">Title</h1>
    <p class="title-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum ex nec ultrices porta.</p>
  </div>
</section>
<!-- Posts container -->
<section class="container container--light">
  <h2 class="container__title">Latest posts</h2>
  {% if posts|length == 0 %}
    <p class="no-posts">Ooops, seems like there are no posts yet!</p>
  {% else %}
    <div class="mobile-container">
      {% for post in posts %}
        <div class="card">
          <a href="{{ url_for('post_page', post_id=post._id) }}">
            <div class="card__img img--rounded js-img-mobile"
              style="background-image: url({{post.img_path}});" alt="">
            </div>
            <h3 class="card__title">{{ post.title }}</h3>
          </a>
          <p class="card__summary">{{ post.summary }}</p>
          <hr class="hr hr--card hr--dark">
        </div>
      {% endfor %}
    </div>

    {% if posts|length > 0 %}
      <div class="tablet-container">
        <div class="wrapper__column">
          <div class="card">
            <a href="{{ url_for('post_page', post_id=posts[0]._id) }}">
              <div class="card__img img--rounded js-img-tablet-l" style="background-image: url({{posts[0].img_path}});"
                alt=""></div>
              <h3 class="card__title">{{ posts[0].title }}</h3>
            </a>
            <p class="card__summary">{{ posts[0].summary }}</p>
            {% if posts|length > 1 %}
              <hr class="hr hr--card hr--dark">
            {% endif %}
          </div>
          {% if posts|length > 1 %}
            <div class="wrapper__row wrapper--space-between">
              {% if posts|length == 2 %}
                <div class="card">
                  <a href="{{ url_for('post_page', post_id=posts[1]._id) }}">
                    <div class="card__img img--rounded js-img-tablet-l" style="background-image: url({{posts[1].img_path}});"
                      alt=""></div>
                    <h3 class="card__title">{{ posts[1].title }}</h3>
                  </a>
                  <p class="card__summary">{{ posts[1].summary }}</p>
                </div>
              {% else %}
                <div class="card card--medium">
                  <a href="{{ url_for('post_page', post_id=posts[1]._id) }}">
                    <div class="card__img img--rounded js-img-tablet-m" style="background-image: url({{posts[1].img_path}});"
                      alt=""></div>
                    <h3 class="card__title">{{ posts[1].title }}</h3>
                  </a>
                  <p class="card__summary">{{ posts[1].summary }}</p>
                </div>
              {% endif %}
              {% if posts|length > 2 %}
                <div class="card card--medium">
                  <a href="{{ url_for('post_page', post_id=posts[2]._id) }}">
                    <div class="card__img img--rounded js-img-tablet-m" style="background-image: url({{posts[2].img_path}});"
                      alt=""></div>
                    <h3 class="card__title">{{ posts[2].title }}</h3>
                  </a>
                  <p class="card__summary">{{ posts[2].summary }}</p>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <hr class="hr hr--card hr--dark">
      </div>
    {% endif %}

    <a class="btn" href=#>View more</a>
  {% endif %}
</section>

<!-- Dogs container -->
<section class="container container--dark">
  <h2 class="container__title">Newest dogs</h2>
  {% if dogs|length == 0 %}
    <p class="no-posts">Ooops, seems like there are no dog ads yet!</p>
  {% else %}
    <div class="mobile-container">
      {% for dog in dogs %}
        <div class="card">
          <a href="{{ url_for('dog_page', dog_id=dog._id) }}">
            <div class="card__img img--rounded js-img-mobile"
              style="background-image: url({{dog.img_path}});" alt="">
            </div>
            <h3 class="card__title">{{dog.name.capitalize()}}</h3>
          </a>
          <p class="card__summary">"{{ dog.greeting }}"</p>
          <hr class="hr hr--card hr--light">
        </div>
      {% endfor %}
    </div>
    {% if dogs|length > 0 %}
      <div class="tablet-container">
        <div class="wrapper__column">
          <div class="card">
            <a href="{{ url_for('dog_page', dog_id=dogs[0]._id) }}">
              <div class="card__img img--rounded js-img-tablet-l" style="background-image: url({{dogs[0].img_path}});" alt="">
              </div>
              <h3 class="card__title">{{ dogs[0].name.capitalize() }}</h3>
            </a>
            <p class="card__summary">"{{ dogs[0].greeting }}"</p>
            {% if dogs|length > 1 %}
              <hr class="hr hr--card hr--light">
            {% endif %}
          </div>
          {% if dogs|length > 1 %}
            <div class="wrapper__row wrapper--space-between">
              {% if dogs|length == 2 %}
                <div class="card">
                  <a href="{{ url_for('dog_page', dog_id=dogs[1]._id) }}">
                    <div class="card__img img--rounded js-img-tablet-l" style="background-image: url({{dogs[1].img_path}});" alt="">
                    </div>
                    <h3 class="card__title">{{ dogs[1].name.capitalize() }}</h3>
                  </a>
                  <p class="card__summary">"{{ dogs[1].greeting }}"</p>
                </div>
              {% else %}
                <div class="card card--medium">
                  <a href="{{ url_for('dog_page', dog_id=dogs[1]._id) }}">
                    <div class="card__img img--rounded js-img-tablet-m" style="background-image: url({{dogs[1].img_path}});"
                      alt=""></div>
                    <h3 class="card__title">{{ dogs[1].name.capitalize() }}</h3>
                  </a>
                  <p class="card__summary">"{{ dogs[1].greeting }}"</p>
                </div>
              {% endif %}
              {% if dogs|length > 2 %}
                <div class="card card--medium">
                  <a href="{{ url_for('dog_page', dog_id=dogs[2]._id) }}">
                    <div class="card__img img--rounded js-img-tablet-m" style="background-image: url({{dogs[2].img_path}});"
                      alt=""></div>
                    <h3 class="card__title">{{ dogs[2].name.capitalize() }}</h3>
                  </a>
                  <p class="card__summary">"{{ dogs[2].greeting }}"</p>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <hr class="hr hr--card hr--light">
      </div>
    {% endif %}
    <a class="btn btn--invert" href=#>View more</a>
  {% endif %}
</section>

{% if not session.user %}
<!-- Registration card -->
<section class="container container--light container--regcard">
  <div class="reg-card wrapper__row">
    <div class="reg-card--left wrapper__column">
      <h2 class="container__title">Why register?</h2>
      <p class="reg-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus eget enim sit amet tristique. Duis sit amet sagittis risus. Integer scelerisque dolor sed tortor finibus, in tincidunt augue rutrum. Mauris mauris elit, maximus vel tristique ac, fermentum ac odio. Fusce vitae nisi ligula.</p>
    </div>
    <div class="reg-card--right wrapper__column">
      <ul class="reg-card__list">
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Unlimited access to all blogs</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Write your own posts</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Unlimited access to dog database</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Place ads for dog rehoming</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Send requests for dog adoption</span>
        </li>
      </ul>
      <a class="btn btn--transparent" href="{{ url_for('user_register') }}">Register for free</a>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}