{% extends "base.html" %}
{% block content %}
<!-- Banner -->
<section class="banner">
  <img class="banner__img desktop-content" src="/static/images/banner_post_edit_l.webp" alt="">
  <img class="banner__img mobile-content tablet-content" src="/static/images/banner_post_edit_s.webp" alt="">
  <div class="title-section">
    <h1 class="title-section__title">Title</h1>
    <p class="title-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum ex nec ultrices porta.</p>
  </div>
</section>

<div class="desktop-content">
  <ul class="page-links">
    <a class="page-link" href="{{url_for('dog_main')}}">
      <li>Adopt a dog</li>
    </a>
    <a class="page-link" href="{{url_for('dog_surrender')}}">
      <li>Give up a dog</li>
    </a>
    <a class="page-link" href="{{url_for('post_new')}}">
      <li>Post new article</li>
    </a>
    <a class="page-link" href="{{url_for('contact')}}">
      <li>Contact us</li>
    </a>
  </ul>
</div>

<!-- Edit post form -->
<section class="container container--light container--post">
  <form class="form" action="{{ url_for('post_edit', post_id=post._id) }}"
    method="POST" enctype="multipart/form-data" onsubmit="setLocalPost()">

    <select class="form__select" name="category" id="category" required>
      <option>Select category</option>
      {% for category in categories %}
        <option value="{{ category.name }}"
          selected>{{ category.name }}</option>
      {% endfor %}
    </select>

    <label class="form__label" for="title">Post title</label>
    <input class="form__input" type="text" name="title" id="title"
      minlength="2" maxlength="15" pattern="^[a-zA-Z]{2,15}}$"
      value="{{ post.title }}" required>

    <label class="form__label" for="summary">Summary</label>
    <textarea class="form__textarea textarea--post-summary" name="summary"
      id="summary" maxlength="150" pattern="^[a-zA-Z]$"
      placeholder="Max 150 characters" required> {{- post.summary -}} </textarea>

    <label class="form__label" for="content">Post content</label>
    <textarea class="form__textarea" name="content" id="content"
      maxlength="5000" pattern="^[a-zA-Z]$" placeholder="Max 5000 characters"
      required> {{- post.content -}} </textarea>

    <label class="btn btn--invert btn--post js-btn-photo" for="photo">
      <i class="fas fa-upload"></i><span> Upload photo</span>
      <p class="btn__caption">Recommended size 1024 x 576px</p>
    </label>
    <input class="inputfile" type="file" name="photo" id="photo">
  
    <button class="btn btn--post">POST</button>
  </form>

  <div class="btn--bottom js-btn-back">
    <i class="fas fa-angle-double-left"></i>
    <span>Back</span>
  </div>
</section>
{% endblock %}