{% extends "base.html" %}

{% block content %}
<!-- Banner -->
<section class="banner">
  <img class="banner__img" src="/static/images/banner_post_main.webp" alt="">
  <div class="title-section">
    <h1 class="title-section__title">Posts collection</h1>
    <p class="title-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum ex nec
      ultrices porta.</p>
  </div>
</section>

<!-- Posts main section -->
  <div class="mobile-container">
    {% for post in posts %}
      <div class="card">
        <a href="{{ url_for('post_main', post_id=post._id) }}">
          <div class="card__img img--rounded js-img-mobile" style="background-image: url({{ post.img_path }});" alt="">
          </div>
          <h3 class="card__title">{{ post.title }}</h3>
        </a>
        <p class="card__info">
          <span>
            <span>{{ post.create_date }} </span>by<span> {{ post.author }}</span>
          </span>
          <span>
            <span>Category: </span><span>{{ post.category }}</span>
          </span>
        </p>
        <p class="card__summary">{{ post.summary }}</p>
        <hr class="hr hr--card hr--dark">
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}