{% extends "base.html" %}
{% block content %}
<!-- Banner -->
<section class="banner">
  <img class="banner__img" src="/static/images/banner_post_new.webp" alt="">
  <div class="title-section">
    <h1 class="title-section__title">Title</h1>
    <p class="title-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum ex nec ultrices porta.</p>
  </div>
</section>
<!-- New post form -->
<section class="container container--light container--post">
  <form class="form" action="{{ url_for('post_new') }}" method="POST"
    enctype="multipart/form-data">

    <select class="form__select" name="category" id="category" required>
      <option>Select category</option>
      {% for category in categories %}
        <option value="{{ category.name }}">{{ category.name }}</option>
      {% endfor %}
    </select>

    <label class="form__label" for="title">Post title</label>
    <input class="form__input" type="text" name="title" id="title"
      minlength="2" maxlength="15" pattern="^[a-zA-Z]{2,15}}$" required>

    <label class="form__label" for="summary">Summary</label>
    <textarea class="form__textarea textarea--post-summary" name="summary"
      id="summary" maxlength="150" pattern="^[a-zA-Z]$" required></textarea>

    <label class="form__label" for="content">Post content</label>
    <textarea class="form__textarea" name="content" id="content"
      maxlength="5000" pattern="^[a-zA-Z]$" required></textarea>

    <button class="btn btn--post">POST</button>
  </form>
</section>
{% endblock %}