{% extends "base.html" %}

{% block content %}
<!-- Banner -->
<section class="banner">
  <img class="banner__img desktop-content" src="/static/images/banner_post_main_l.webp" alt="">
  <img class="banner__img mobile-content tablet-content" src="/static/images/banner_post_main_s.webp" alt="">
  <div class="title-section">
    <h1 class="title-section__title">Posts collection</h1>
    <p class="title-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum ex nec
      ultrices porta.</p>
  </div>
</section>

<div class="desktop-content">
  <ul class="page-links">
    <a class="page-link" href="{{url_for('dog_main')}}">
      <li>Adopt a dog</li>
    </a>
    <a class="page-link" href="{{url_for('dog_surrender')}}">
      <li>Give up a dog</li>
    </a>
    {% if session.user %}
      <a class="page-link" href="{{url_for('post_new')}}">
        <li>Post new article</li>
      </a>
    {% endif %}
    {% if session.user != "Admin"%}
    <a class="page-link" href="{{url_for('contact')}}">
      <li>Contact us</li>
    </a>
    {% endif %}
  </ul>
</div>

<!-- Posts main section -->
<section class="container container--light">
  <p class="filter-toggle js-filter-toggle mobile-content tablet-content">
    <i class="fas fa-cogs"></i>
    <span>Filter posts</span>
  </p>

  <div class="postmain-desk-wrapper">
    <div class="desktop-content content-postmain">
      {% if no_posts == True %}
        <p class="no-posts">Ooops, seems like there are no posts yet!</p>
      {% else %}
        <div class="card card-desktop">
          <a href="{{ url_for('post_page', post_id=post_top._id) }}">
            <div class="card__img img--rounded js-img-desk"
              style="background-image: url({{post_top.img_path}});" alt="">
            <div class="img-overlay"></div>`
              <div class="card__text-container">
                <h3 class="card__title card__title--index">{{ post_top.title }}</h3>
                <p class="card__summary card__summary--index">{{ post_top.summary}}</p>
              </div>
            </div>
          </a>
        </div>
      {% endif %}
    </div>

    <form class="form form-toggle js-form-toggle"
      action="{{ url_for('post_main') }}" method="POST">
      <div class="wrapper__row wrapper--filter">
        <select class="form__input form__input--filter form__input--posts" name="category"
          id="category">
          <option value="Select category"
            selected disabled hidden>By category</option>
          {% for category in categories %}
            <option value="{{ category.name }}">{{ category.name }}</option>
          {% endfor %}
        </select>

        <select class="form__input form__input--filter form__input--posts" name="author" id="author">
          <option value="Select author"
            selected disabled hidden>By author</option>
          {% for user in users %}
            <option value="{{ user.username }}">{{ user.username }}</option>
          {% endfor %}
        </select>

        <select class="form__input form__input--filter form__input--posts" name="sort" id="sort">
          <option value="Sort by" selected disabled hidden>Sort by</option>
          <option value="New to old">New to old</option>
          <option value="Old to new">Old to new</option>
          <option value="Most popular">Most popular</option>
        </select>
      </div>
      <div class="wrapper__row wrapper--filter">
        <button class="btn btn--invert btn--filter-reset"
          type="reset">Reset</button>
        <button class="btn btn--filter" type="submit">SEARCH</button>
      </div>
    </form>
  </div>

  <div class="desktop-content js-card-desktop">
    {% for post in posts %}
      <div class="card card-desktop">
        <div class="wrapper__row">
          <a class="card__img-link" href="{{ url_for('post_page', post_id=post._id) }}">
            <div class="card__img img--rounded js-img-desk-m" style="background-image: url({{post.img_path}});"
              alt=""></div>
          </a>
          <div class="wrapper__column card__info-wrapper">
            <a href="{{ url_for('post_page', post_id=post._id) }}">
              <h3 class="card__title card__title--postmain">{{ post.title }}</h3>
            </a>
            <p class="card__info card__info--postmain">
              <span>
                <span>{{ post.create_date }} </span>by<span> {{ post.author }}</span>
              </span>
              <span>
                <span>Category: </span><span>{{ post.category }}</span>
              </span>
            </p>
            <p class="card__summary card__summary--postmain">{{ post.summary }}</p>
          </div>
        </div>
      </div>
      <hr>
    {% endfor %}
  </div>

  {% if no_posts == True %}
    <p class="filter-caption">Couldn't find any posts with given criteria!</p>
  {% else %}
  <div class="mobile-content js-card-mobile">
    <div class="card card-mobile">
      <a href="{{ url_for('post_page', post_id=post_top._id) }}">
          <div class="card__img img--rounded js-img-mobile" style="background-image: url({{ post_top.img_path }});" alt=""></div>
          <h3 class="card__title">{{ post_top.title }}</h3>
      </a>
      <p class="card__info">
          <span>
              <span>{{ post_top.create_date }} </span>by<span> {{ post_top.author }}</span>
          </span>
          <span>
              <span>Category: </span><span>{{ post_top.category }}</span>
          </span>
      </p>
      <p class="card__summary">{{ post_top.summary }}</p>
      <hr class="hr hr--card">
    </div>
    {% for post in posts %}
        <div class="card card-mobile">
          <a href="{{ url_for('post_main', post_id=post._id) }}">
            <div class="card__img img--rounded js-img-mobile" style="background-image: url({{ post.img_path }});" alt="">
            </div>
            <h3 class="card__title">{{ post.title }}</h3>
          </a>
          <p class="card__info">
            <span>
              <span>{{ post.create_date }} </span>by<span> {{ post.author }}</span>
            </span>
            <span>
              <span>Category: </span><span>{{ post.category }}</span>
            </span>
          </p>
          <p class="card__summary">{{ post.summary }}</p>
          <hr class="hr hr--card">
        </div>
      {% endfor %}
    </div>

    <div class="tablet-content js-card-tablet">
      <div class="card card-tablet">
        <a href="{{ url_for('post_page', post_id=post_top._id) }}">
          <div class="card__img img--rounded js-img-tablet-l" style="background-image: url({{post_top.img_path}});"
            alt=""></div>
          <h3 class="card__title">{{ post_top.title }}</h3>
        </a>
        <p class="card__info">
          <span>
            <span>{{ post_top.create_date }} </span>by<span> {{ post_top.author }}</span>
          </span>
          <span>
            <span>Category: </span><span>{{ post_top.category }}</span>
          </span>
        </p>
        <p class="card__summary">{{ post_top.summary }}</p>
        <hr class="hr hr--card">
      </div>
      {% for post in posts %}
        <div class="card card-tablet">
          <div class="wrapper__row">
            <a class="card__img-link" href="{{ url_for('post_page', post_id=post._id) }}">
              <div class="card__img img--rounded js-img-tablet-m" style="background-image: url({{ post.img_path }});"
                alt=""></div>
            </a>
            <div class="wrapper__column card__info-wrapper">
              <a href="{{ url_for('post_page', post_id=post._id) }}">
                <h3 class="card__title">{{ post.title }}</h3>
              </a>
              <p class="card__info">
                <span>
                  <span>{{ post.create_date }} </span>by<span> {{ post.author }}</span>
                </span>
                <span>
                  <span>Category: </span><span>{{ post.category }}</span>
                </span>
              </p>
              <p class="card__summary">{{ post.summary }}</p>
            </div>
          </div>
        </div>
        <hr>
      {% endfor %}
    </div>
  {% endif %}
</section>
{% if not session.user %}
<!-- Registration card -->
<section class="container container--light container--regcard">
  <div class="reg-card wrapper__row">
    <div class="reg-card--left wrapper__column">
      <h2 class="container__title">Why register?</h2>
      <p class="reg-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus eget enim sit amet tristique. Duis sit amet sagittis risus. Integer scelerisque dolor sed tortor finibus, in tincidunt augue rutrum. Mauris mauris elit, maximus vel tristique ac, fermentum ac odio. Fusce vitae nisi ligula.</p>
    </div>
    <div class="reg-card--right wrapper__column">
      <ul class="reg-card__list">
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Unlimited access to all blogs</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Write your own posts</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Unlimited access to dog database</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Place ads for dog rehoming</span>
        </li>
        <li class="reg-card__item">
          <i class="far fa-check-circle"></i>
          <span>Send requests for dog adoption</span>
        </li>
      </ul>
      <a class="btn btn--transparent" href="{{ url_for('user_register') }}">Register for free</a>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}