{% extends "base.html" %}

{% block content %}
<!-- Banner -->
<section class="banner">
  <img class="banner__img desktop-content" src="/static/images/banner_user_register_l.webp" alt="">
  <img class="banner__img mobile-content tablet-content" src="/static/images/banner_user_register_s.webp" alt="">
  <div class="title-section">
    <h1 class="title-section__title">New user</h1>
    <p class="title-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum ex nec ultrices porta.</p>
  </div>
</section>

<div class="desktop-content">
  <ul class="page-links">
    <a class="page-link" href="{{url_for('dog_main')}}">
      <li>Adopt a dog</li>
    </a>
    <a class="page-link" href="{{url_for('dog_surrender')}}">
      <li>Give up a dog</li>
    </a>
    {% if session.user %}
      <a class="page-link" href="{{url_for('post_new')}}">
        <li>Post new article</li>
      </a>
    {% endif %}
    {% if session.user != "Admin"%}
    <a class="page-link" href="{{url_for('contact')}}">
      <li>Contact us</li>
    </a>
    {% endif %}
  </ul>
</div>

<!-- Registration form -->
<section
  class="container container--light container--extended">
  <form class="form" action="{{ url_for('user_register') }}" method="POST" 
    onsubmit="setLocalRegister()">
    <p class="form__title">Registration form</p>
    <label class="form__label" for="username">Username</label>
    <input class="form__input" type="text" id="username" name="username" 
      minlength="4" maxlength="16" pattern="^[a-zA-Z0-9]{4,16}$"
      autocomplete="new-password" required>
    <label class="form__label" for="email">Email address</label>
    <input class="form__input" type="email" id="email" name="email" required>
    <label class="form__label" for="password">Choose password</label>
    <input class="form__input form__input--bold" type="password" id="password"
      name="password" minlength="8" maxlength="16" pattern="([^\s]+)"
      autocomplete="new-password" required>
    <label class="form__label" for="password2">Repeat password</label>
    <input class="form__input form__input--bold" type="password" id="password2"
      name="password2" minlength="8" maxlength="16" pattern="([^\s]+)" required>
    <p class="regform__option">Optional info</p>
    <p class="regform__option regform__option--small">* required in case of dog adoption applications *</p>
    <hr class="hr hr--form">
    <label class="form__label" for="fname">First name</label>
    <input class="form__input" type="text" id="fname" name="fname"
      maxlength="20" pattern="^[a-zA-Z]{1,20}}$">
    <label class="form__label" for="lname">Last name</label>
    <input class="form__input" type="text" id="lname" name="lname"
      maxlength="20" pattern="^[a-zA-Z]{1,20}}$">
    <label class="form__label" for="phone">Mobile number</label>
    <input class="form__input" type="tel" id="phone" name="phone" min="10"
      max="10" pattern="(08)[3579]{1}[0-9]{7}" placeholder="format: 08XXXXXXXX">
    <label class="form__label" for="about">About info</label>
    <textarea class="form__textarea form__textarea--registration" name="about"
      id="about" maxlength="10000" pattern="([^\s]+)"></textarea>
    <button class="btn btn--register" type="submit">REGISTER</button>
    <p class="register-link">Already have an account? Log in <a href="{{url_for('user_login')}}">HERE</a></p>
  </form>
</section>

{% endblock %}